*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

logo {
    float: left;
  }
  
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    
  }
  
  .navigation-bar {
    background-color: #313342;
    height: 50px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
    height: 50px;
  float:left;
  }
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 40px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }



.hero {
    background-image: url('https://cdn.turkishairlines.com/m/6761929144cccc1e/original/anasayfa-1400.webp');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #d81c5b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ab1446;
}


.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.schedule-boxes-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.schedule-boxes-tab {
    margin-right: 10px;
}

.schedule-boxes-tab:last-child {
    margin-right: 0;
}

.carousel-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    width: 70%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   margin-bottom: 50px;
    
  }
  
  .carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    width: 80%; 
    max-width: 800px; 
   
  }
  
  
  
  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
    display: none;
    margin: 10vh;
  }
  
  .carousel-open:checked + .carousel-item {
    display: block;
  }
  
  .carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    line-height: 30px;
    border-radius: 50%;
    opacity: 0.5;
  }
  
  .carousel-control:hover {
    opacity: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  .carousel-indicators {
    margin-top: 10px;
    display: flex;
  }
  
  .indicator-item {
    cursor: pointer;
    margin: 0 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .carousel-open:checked + .carousel-item + .carousel-control + .carousel-indicators .indicator-item {
    background-color: #fff;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    flex: 0 0 50%;
    padding: 15px;
  }
  
  
  .explore-more-title {
    font-weight: 500;
  }
  
  hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .font-weight-300 {
    font-weight: 300;
  }
  
  .btn {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
  }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  
  .btn-danger:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
  }
  
  .font-weight-700 {
    font-weight: 700;
  }
  
  .row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 0 0 50%;
  padding: 15px;
}


.explore-more-title {
  font-weight: 500;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.font-weight-300 {
  font-weight: 300;
}

.btn {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  cursor: pointer;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.font-weight-700 {
  font-weight: 700;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.tabs {
    margin-left:20px ;
    margin-top: 20px;
}

.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ddd;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    margin-right: 10px;
}

.tab.active {
    background-color: #fff;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.search-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin:  auto;
    padding: 20px;
    margin-bottom: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
}

.input-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.input-group label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="date"],
.input-group select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='none' d='M0 0h24v24H0z'/><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: 30px;
}

button {
    background-color: #ff1e00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px;
}

button:hover {
    background-color: #0056b3;
}

.flights{
    width: 70%;
    margin: auto;
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .footer-buttons {
    display: inline-block;
  }

  .footer-text {
    display: block;
    margin-top: 10px;
  }

  .footer-button {
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    
  }

  .footer-button:last-child {
    margin-right: 0; 
  }

  .footer-button:hover {
    background-color: #777;
  }

  .skippable-container{
    width: 80%;
    margin: auto;
  }

  /* Styling the container */
.schedule-boxes-tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align items horizontally */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

/* Styling each tab */
.schedule-boxes-tab {
    margin: 10px; /* Adjust margin as needed */
    text-align: center;
}

/* Styling the content wrapper */
.schedule-boxes-content {
    text-align: center;
}

/* Styling the icon container */
.img-cont {
    width: 80px; /* Adjust width as needed */
    height: 80px; /* Adjust height as needed */
    border-radius: 50%; /* For circular shape */
    background-color: #cac5c5; /* Adjust background color as needed */
    display: flex;
    justify-content: center; /* Center align items horizontally */
    align-items: center; /* Center align items vertically */
}

/* Styling the icon */
.img-cont img {
    max-width: 100%;
    max-height: 100%;
}

/* Styling the text */
.info {
    margin-top: 5px; /* Adjust margin as needed */
}
